body {
    font-family: "Helvetica", sans-serif;
}

button.btn.btn-primary{
    background-color:--bs-indigo;
    color: white;
}

p#ResultPrice, p#resultadoAlturaTriangulo, p#resultadoTriangulo, p#resultadoCuadrado{
    font-weight: 700;
}