body {
    font-family: "Helvetica", sans-serif;
}

button.btn.btn-primary{
    background-color:--bs-indigo;
    color: white;
}

p#ResultPrice, p#resultadoAlturaTriangulo, p#resultadoTriangulo, p#resultadoCuadrado{
    font-weight: 700;
}

#FinalPrice{
    font-weight:700;
}

#BasePrice{
    text-decoration: line-through;
    color: grey;
}

#spamBadge{
    position: absolute;
    margin-left: 10px;
}